$o-ft-icons-is-silent: false;

@import "../../../main";

body {
	font-family: BentonSans, sans-serif;
}


.demo__title {
	margin: 20px 0 10px;
	border-top: 1px solid #dddddd;
	padding: 5px 0;
	font-family: sans-serif;
	font-size: 14px;
}

.demo__mega-dropdown[aria-hidden=true] {
	display: none;
}

.o-hierarchical-nav {
	background-color: #333333;

	li {
		font-size: 14px;
		line-height: 16px;
	}
	a {
		padding: 10px 20px;
	}
}

.demo--vertical-theme {
	@include oHierarchicalNavVerticalTheme;
	width: 300px;
}

.demo--horizontal-theme {
	@include oHierarchicalNavHorizontalTheme;
}

.signin__nav {
	text-align: center;
	li {
		box-sizing: border-box;
		margin: 10px;
		width: 200px;
		input,
		label,
		button {
			border: 0;
			border-radius: 5px;
			box-sizing: border-box;
			padding: 10px;
			width: 50%;
		}
		label,
		button {
			color: #ffffff;
		}
		button {
			background: #cc0000;
		}
	}
	[data-o-hierarchical-nav-level] [data-o-hierarchical-nav-level] {
		border-radius: 0 0 10px 10px;
		margin-top: 10px;
		text-align: right;
		li {
			border-top: 0;
		}
	}
}
