@import './demo';

.signin__nav {
	text-align: center;
	li {
		box-sizing: border-box;
		margin: 10px;
		width: 200px;
		input,
		label,
		button {
			border: 0;
			border-radius: 5px;
			box-sizing: border-box;
			padding: 10px;
			width: 50%;
		}
		label,
		button {
			color: #ffffff;
		}
		button {
			background: #cc0000;
		}
	}
	[data-o-hierarchical-nav-level] [data-o-hierarchical-nav-level] {
		border-radius: 0 0 10px 10px;
		margin-top: 10px;
		text-align: right;

		//scss-lint:disable SelectorDepth
		li {
			border-top: 0;
		}
	}
}
