<h1 class="demo__title">Base</h1>

<nav class="o-hierarchical-nav" data-o-component="hierarchical-nav" data-o-version="{{o-hierarchical-nav.module-version}}" style="background-color: #fff">
    <ul data-o-hierarchical-nav-level="1">
        <li aria-selected="true"><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li class="o-hierarchical-nav__parent"><a>Item 3 (parent)</a>
            <ul data-o-hierarchical-nav-level="2">
                <li><a>Item 3.1</a></li>
                <li class="o-hierarchical-nav__parent"><a>Item 3.2 (parent)</a>
                    <ul data-o-hierarchical-nav-level="3">
                        <li><a>Item 3.2.1</a></li>
                        <li><a>Item 3.2.2</a></li>
                        <li><a>Item 3.2.3</a></li>
                        <li><a>Item 3.2.4</a></li>
                    </ul>
                </li>
                <li><a>Item 3.3</a></li>
                <li class="o-hierarchical-nav__parent"><a>Parent Item 3.4</a>
                    <ul data-o-hierarchical-nav-level="3">
                        <li><a>Item 3.4.1</a></li>
                        <li><a>Item 3.4.2</a></li>
                        <li><a>Item 3.4.3</a></li>
                        <li><a>Item 3.4.4</a></li>
                    </ul>
                </li>
                <li><a>Item 3.5</a></li>
            </ul>
        </li>
        <li><a>Item 4</a></li>
        <li class="o-hierarchical-nav__parent"><a>Parent Item 5</a>
            <ul data-o-hierarchical-nav-level="2">
                <li><a>Item 5.1</a></li>
                <li class="o-hierarchical-nav__parent"><a>Parent Item 5.2</a>
                    <ul data-o-hierarchical-nav-level="3">
                        <li><a>Item 5.2.1</a></li>
                        <li><a>Item 5.2.2</a></li>
                        <li><a>Item 5.2.3</a></li>
                        <li><a>Item 5.2.4</a></li>
                    </ul>
                </li>
                <li><a>Item 5.3</a></li>
                <li class="o-hierarchical-nav__parent"><a>Parent Item 5.4</a>
                    <ul data-o-hierarchical-nav-level="3">
                        <li><a>Item 5.2.1</a></li>
                        <li><a>Item 5.2.2</a></li>
                        <li><a>Item 5.2.3</a></li>
                        <li><a>Item 5.2.4</a></li>
                    </ul>
                </li>
                <li><a>Item 5.5</a></li>
            </ul>
        </li>
    </ul>
</nav>

<h1 class="demo__title">Primary theme</h1>

<nav class="o-hierarchical-nav o-hierarchical-nav__primary-theme" data-o-component="hierarchical-nav" data-o-version="{{o-hierarchical-nav.module-version}}">
    <ul data-o-hierarchical-nav-level="1">
        <li aria-selected="true"><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li class="o-hierarchical-nav__parent"><a>Item 3 (parent)</a>
            <ul data-o-hierarchical-nav-level="2">
                <li><a>Item 3.1</a></li>
                <li class="o-hierarchical-nav__parent"><a>Item 3.2 (parent)</a>
                    <ul data-o-hierarchical-nav-level="3">
                        <li><a>Item 3.2.1</a></li>
                        <li><a>Item 3.2.2</a></li>
                        <li><a>Item 3.2.3</a></li>
                        <li><a>Item 3.2.4</a></li>
                    </ul>
                </li>
                <li><a>Item 3.3</a></li>
                <li class="o-hierarchical-nav__parent"><a>Parent Item 3.4</a>
                    <ul data-o-hierarchical-nav-level="3">
                        <li><a>Item 3.4.1</a></li>
                        <li><a>Item 3.4.2</a></li>
                        <li><a>Item 3.4.3</a></li>
                        <li><a>Item 3.4.4</a></li>
                    </ul>
                </li>
                <li><a>Item 3.5</a></li>
            </ul>
        </li>
        <li><a>Item 4</a></li>
        <li class="o-hierarchical-nav__parent"><a>Parent Item 5</a>
            <ul data-o-hierarchical-nav-level="2">
                <li><a>Item 5.1</a></li>
                <li class="o-hierarchical-nav__parent"><a>Parent Item 5.2</a>
                    <ul data-o-hierarchical-nav-level="3">
                        <li><a>Item 5.2.1</a></li>
                        <li><a>Item 5.2.2</a></li>
                        <li><a>Item 5.2.3</a></li>
                        <li><a>Item 5.2.4</a></li>
                    </ul>
                </li>
                <li><a>Item 5.3</a></li>
                <li><a>Item 5.4</a></li>
            </ul>
        </li>
    </ul>
</nav>

<h1 class="demo__title">Secondary theme</h1>

<nav class="o-hierarchical-nav o-hierarchical-nav__secondary-theme" data-o-component="hierarchical-nav" data-o-version="{{o-hierarchical-nav.module-version}}" style="background-color: #2e6e9e">
    <ul data-o-hierarchical-nav-level="1">
        <li aria-selected="true"><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li class="o-hierarchical-nav__parent"><a>Parent Item 3</a>
            <ul data-o-hierarchical-nav-level="2">
                <li><a>Item 3.1</a></li>
                <li><a>Item 3.2</a></li>
                <li><a>Item 3.3</a></li>
                <li><a>Item 3.4</a></li>
            </ul>
        </li>
        <li><a>Item 4</a></li>
        <li class="o-hierarchical-nav__parent"><a>Parent Item 5</a>
            <ul data-o-hierarchical-nav-level="2">
                <li><a>Item 5.1</a></li>
                <li class="o-hierarchical-nav__parent"><a>Parent Item 5.2</a>
                    <ul data-o-hierarchical-nav-level="3">
                        <li><a>Item 5.2.1</a></li>
                        <li><a>Item 5.2.2</a></li>
                        <li><a>Item 5.2.3</a></li>
                        <li><a>Item 5.2.4</a></li>
                    </ul>
                </li>
                <li><a>Item 5.3</a></li>
                <li><a>Item 5.4</a></li>
            </ul>
        </li>
    </ul>
</nav>

<h1 class="demo__title">Tools theme</h1>

<nav class="o-hierarchical-nav o-hierarchical-nav__tools-theme" data-o-component="hierarchical-nav" data-o-version="{{o-hierarchical-nav.module-version}}">
    <ul data-o-hierarchical-nav-level="1"><!--
    --><li data-priority="1"><a><i class="demo__icon demo__icon__search"></i>Tool 1</a></li><!--
    --><li data-priority="3"><a><i class="demo__icon demo__icon__settings"></i>Tool 2</a></li><!--
    --><li data-priority="4"><a><i class="demo__icon demo__icon__share"></i>Tool 3</a></li><!--
    --><li data-more class="o-hierarchical-nav__parent"><a><i class="demo__icon demo__icon__more"></i>More</a>
            <ul data-o-hierarchical-nav-level="2">
                <li><a>More Tools 1</a></li>
                <li><a>More Tools 2</a></li>
                <li><a>More Tools 3</a></li>
            </ul>
    </li><!--
--></ul>
</nav>
