<h1 class="demo__title">Component sub-level nav</h1>

<nav class="ft-search__nav o-header__primary__right o-header__nav--tools-theme o-hierarchical-nav" data-o-component="o-hierarchical-nav">
    <ul data-o-hierarchical-nav-level="1">
        <li class="ft-search__nav__items" data-o-hierarchical-nav--is-cloneable>
            <form method="get" action="/search/" id="site-wide-search">
                <input class="search-query" type="search" name="SearchText" id="site-wide-search-field" placeholder="Search by keyword...">
                <input name="SearchButton" type="submit" style="display:none;">
            </form>
        </li>
        <li data-more class="o-hierarchical-nav__parent" aria-hidden="true"><a><span class="o-hierarchical-nav__more--if-some">More</span><span class="o-hierarchical-nav__more--if-all">Menu</span> <i></i></a></li>
    </ul>
</nav>
