$o-hierarchical-nav-name: o-hierarchical-nav;
$o-hierarchical-nav-version: null !default;
$o-hierarchical-nav-assets-path: $o-hierarchical-nav-name !default;

$_o-hierarchical-nav-mega-dropdown-zindex: 10;

$_o-hierarchical-nav-dropdown-border: 1px solid rgba(255, 255, 255, 0.5);