.o-hierarchical-nav {
	white-space: nowrap;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		[aria-hidden=true] {
			// scss-lint:disable ImportantRule
			display: none !important;
		}
	}

	a {
		text-decoration: none;
		cursor: pointer;
		outline: none;
		color: #ffffff;

		// Prevent accidental double clicks and long taps from selecting text
		// scss-lint:disable VendorPrefixes
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;

		&:focus,
		#{$o-hoverable-if-hover-enabled} &:hover {
			color: oColorsGetColorFor(link-title-hover, text);
		}
	}
}

// Styles for all hierarchical levels
[data-o-hierarchical-nav-level] {
	li {
		position: relative;

		> ul {
			display: none;
		}

		&[aria-expanded='true'] > ul {
			display: block;
		}
	}
}

[data-o-hierarchical-nav-level='1'] > a {
	text-transform: uppercase;
}

// Styles for parents of other navs or controlled elements
.o-hierarchical-nav [aria-controls] > a,
.o-hierarchical-nav__parent > a {
	// scss-lint:disable SelectorDepth
	i {
		@extend %o-ft-icons-icon--arrow-down;
		@include oFtIconsBaseIconStyles();
		font-size: 8px;

		// Ensure passing from normal to expanded state
		// doesn't change the width of the menu
		box-sizing: border-box;
		width: 16px;
		text-align: right;
		padding-right: 6px;
		line-height: 16px;
	}
}
