@include oFtIconsFontFace();
@include oFontsInclude(BentonSans, normal);

.o-hierarchical-nav {
    font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
    white-space: nowrap;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        outline: none;
        color: #ffffff;

        #{$o-hoverable-if-hover-enabled} &:hover {
            color: oColorsGetColorFor(link-alt-hover, text);                
        }
    }
    

    [data-o-hierarchical-nav-level] {
        li {
            position: relative;

            &[aria-hidden=true] {
                display: none;
            }

            > ul {
                display: none;
            }

            &[aria-expanded='true'] > ul {
                display: block;
            }
        }
    }

    [data-o-hierarchical-nav-level='1'] {
        & > a {
            text-transform: uppercase;
        }
    }

    [aria-controls] > a,
    .o-hierarchical-nav__parent > a {

        i {
            @include oFtIconsBaseIconStyles();
        }

        .o-hierarchical-nav__parent__down-arrow {
            @extend %o-ft-icons-icon--down-arrow;
            font-size: 8px;
        }
        
        .o-hierarchical-nav__parent__right-arrow {
            @extend %o-ft-icons-icon--arrow-right;
            font-size: 9px;
            display: none;
        }
    }
}