.o-hierarchical-nav {
	white-space: nowrap;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		[aria-hidden=true] {
			// scss-lint:disable ImportantRule
			display: none !important;
		}
	}

	a {
		text-decoration: none;
		cursor: pointer;
		outline: none;
		color: oColorsGetPaletteColor('white');

		// Prevent accidental double clicks and long taps from selecting text
		// scss-lint:disable VendorPrefixes VendorPrefix
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;

		&:focus,
		#{$o-hoverable-if-hover-enabled} &:hover {
			color: oColorsGetColorFor(link-title-hover, text);
		}
	}
}

// Styles for all hierarchical levels
[data-o-hierarchical-nav-level] {
	li {
		position: relative;

		> ul {
			display: none;
		}

		&[aria-expanded='true'] > ul {
			display: block;
		}
	}
}

[data-o-hierarchical-nav-level='1'] > a {
	text-transform: uppercase;
}

// Styles for parents of other navs or controlled elements
.o-hierarchical-nav [aria-controls] > a,
.o-hierarchical-nav__parent > a {
	// scss-lint:disable SelectorDepth
	i {
		@include oFtIconsGetSvg('arrow-down', oColorsGetPaletteColor('white'), 8, 8);
		padding-right: 6px;
	}

	&:focus i,
	#{$o-hoverable-if-hover-enabled} &:hover i {
		@include oFtIconsGetSvg('arrow-down', oColorsGetColorFor(link-title-hover, text), 8, $apply-base-styles: false);
	}
}
