.o-hierarchical-nav__secondary-theme {
  @extend %o-hierarchical-nav--theme;
  a {
    padding: 0 5px;
  }
  [data-o-hierarchical-nav-level='1'] {
    & > li > a {
      font-size: 12px;
      line-height: 20px;
      &:focus,
      #{$o-hoverable-if-hover-enabled} &:hover {
        color: #ccc;
      }
    }
    & > [aria-controls] > a,
    & > .o-hierarchical-nav__parent > a {
      background-position: right 6px;
    }
  }
  [aria-selected="true"] {
    background-color: mix($o-hierarchical-nav-brand-color, #ffffff, 75%);
  }
  [aria-expanded="true"][aria-controls] {
    background-color: _oColorsGetPaletteColor(pink-tint1);
    & > a {
      background-image: none;
      color: #333;
    }
  }
}