%o-hierarchical-nav--horizontal-theme {

    [data-o-hierarchical-nav-level='1'] {
        & > li {
            display: inline-block;
            & > a {
                display: inline-block;
            }
        }

        & > .o-hierarchical-nav__parent.o-hierarchical-nav--align-right [data-o-hierarchical-nav-level='2'] {
            position: absolute;
            right: 0;
        }
    }

    [data-o-hierarchical-nav-level]:not([data-o-hierarchical-nav-level='1']) {
        z-index: 10;
        li {
            display: block;
            border-top: 1px solid #666;
            & > a {
                display: block;
            }
        }
    }

    [data-o-hierarchical-nav-level='2'] {
        border-right: $_o-hierarchical-nav-dropdown-border;
        border-bottom: $_o-hierarchical-nav-dropdown-border;
        border-left: $_o-hierarchical-nav-dropdown-border;
        background-color: oColorsGetPaletteColor(grey-tint5);
        position: absolute;

        & > .o-hierarchical-nav__parent.o-hierarchical-nav__outside-right [data-o-hierarchical-nav-level='3'] {
            position: absolute;
            left: 100%;
            top: 0;
        }
    }

    [data-o-hierarchical-nav-level='3'] {
        background-color: oColorsGetPaletteColor(grey-tint4);
    }

    .hierarchical-nav__outside-right > [data-o-hierarchical-nav-level] {
        margin-top: -2px;
        border-top: $_o-hierarchical-nav-dropdown-border;
        border-right: $_o-hierarchical-nav-dropdown-border;
        border-bottom: $_o-hierarchical-nav-dropdown-border;
    }

    .o-hierarchical-nav__parent.o-hierarchical-nav__outside-right[aria-expanded="true"] {
        .o-hierarchical-nav__parent__right-arrow {
            display: inline-block;
        }

        .o-hierarchical-nav__parent__down-arrow {
            display: none;
        }
    }

    @at-root .o-hierarchical-nav__mega-dropdown {
        box-sizing: border-box;
        position: absolute;
        right: 0;
        left: 0;
        border-top: 20px solid oColorsGetPaletteColor(pink-tint2);
        padding: 15px 33px;
        min-height: 100px;
        width: 100%;
        color: #333;
        background-color: oColorsGetPaletteColor(pink-tint1);
        z-index: $_o-hierarchical-nav-mega-dropdown-zindex;
    }

    .o-hierarchical-nav__more--some {
        .o-hierarchical-nav__more--if-some {
            display: block;
        }
        .o-hierarchical-nav__more--if-all {
            display: none;
        }
    }

    .o-hierarchical-nav__more--all {
        .o-hierarchical-nav__more--if-some {
            display: none;
        }
        .o-hierarchical-nav__more--if-all {
            display: block;
        }
    }
}