%o-hierarchical-nav--theme {
  a {
    color: #fff;
    cursor: pointer;
  }
  a:focus,
  #{$o-hoverable-if-hover-enabled} & a:hover {
    outline: none;
    color: oColorsGetColorFor(link-alt-hover, text);
    i {
      color: oColorsGetColorFor(link-alt-hover, text);
    }
  }
  [data-o-hierarchical-nav-level]:not([data-o-hierarchical-nav-level='1']) {
    & > li {
      border-top: 1px solid #666;
      font-size: 14px;
      line-height: 16px;
      & > a {
        padding: 10px 20px;
      }
    }
  }
  [data-o-hierarchical-nav-level='2'] {
    border-right: $_o-hierarchical-nav-dropdown-border;
    border-bottom: $_o-hierarchical-nav-dropdown-border;
    border-left: $_o-hierarchical-nav-dropdown-border;
    font-size: 14px;
    background-color: _oColorsGetPaletteColor(grey-tint5);
  }
  [data-o-hierarchical-nav-level='3'] {
    background-color: _oColorsGetPaletteColor(grey-tint4);
  }
  .hierarchical-nav__outside-right > [data-o-hierarchical-nav-level] {
    margin-top: -2px;
    border-top: $_o-hierarchical-nav-dropdown-border;
    border-right: $_o-hierarchical-nav-dropdown-border;
    border-bottom: $_o-hierarchical-nav-dropdown-border;
  }
  [aria-controls] > a,
  .o-hierarchical-nav__parent > a {
    padding-right: 25px;
    background-image: url($_o-hierarchical-nav-img-down-arrow-url);
    background-repeat: no-repeat;
    background-position: right 14px;
  }
  .o-hierarchical-nav__parent.o-hierarchical-nav__outside-right[aria-expanded="true"] > a {
    background-image: url($_o-hierarchical-nav-img-right-arrow-url);
  }
}